.bg { background-color: black; min-height: 100vh; color: white; padding: 10px; }

.Button{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 10px;
}


.xd { position: fixed; width: 2rem; height: 2rem; background: greenyellow; z-index: 1000; display: inline-block; bottom: unset; right: 0; border-radius: 100%; }